<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>526155151147-rrbkf96tb3ctmsd4naqhobfoj4lflegm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526155151147-rrbkf96tb3ctmsd4naqhobfoj4lflegm</string>
	<key>API_KEY</key>
	<string>AIzaSyAPIL3vOJ-bmodoS0WXKHnJbaRjTxVeSWM</string>
	<key>GCM_SENDER_ID</key>
	<string>526155151147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.fiap.ramon.FirestoreApp</string>
	<key>PROJECT_ID</key>
	<string>fiap-firebase-c1c4a</string>
	<key>STORAGE_BUCKET</key>
	<string>fiap-firebase-c1c4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526155151147:ios:a2f9659f91f130b6</string>
	<key>DATABASE_URL</key>
	<string>https://fiap-firebase-c1c4a.firebaseio.com</string>
</dict>
</plist>